*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body {
    font-family: 'Sora', sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 900px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

header {
    height: 100vh;
    background-image: linear-gradient(to top, rgba(202, 62, 245, 0.6) 0%, rgba(249, 245, 134, 0.8) 100%), url(./header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head {
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.open {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
}

.menu-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 10vw;
    height: 100%;
    background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: space-evenly;
    align-items: center;
    transition: transform.3s ease-in-out;
    transform: translate(110%);
    cursor: pointer;
}

.spread{
    transform: translate(0);
}

.menu-nav a{
    color: #fff;
    text-decoration: none;
}

.title{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}




.sub {
    text-align: center;
    font-weight: 300;
    color: #71ff4e;
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-servicios {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicios img {
    width: 30%;
}

.checklist-servicios{
    width: 45%;
}

.services {
    margin-bottom: 7px;
}

.n-service{
    margin-bottom: 7px;
    color: #71ff4e;
}

.number {
    display: inline-block;
    background-image: linear-gradient(to right, #ffbb00 0%, #71ff4e 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

.gallery {
    background: #f2f2f2;
}

.contenedor-gallery{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.videos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-gallery {
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
}

.img-gallery:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
            
    box-shadow: 0 0 16px greenyellow;
  }


.image-light {
    position: fixed;
    background: rgba(0, 0, 0, 0.616);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

.add-img {
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(0.5);
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}




.acerca {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-acerca {
    width: 20%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-acerca img{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.n-acerca {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 700;
}

footer{
    background: yellow;
    padding-bottom: 0.1px;
}

.footer-content{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
}

.brand {
    font-size: 40px;
}

.socialmedia{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.socialmediaicon {
    display: inline-block;
    margin-left: 20px;
    width:60px;
    height:60px;
    border: 1px solid #fff;
    border-radius:50%;
    text-align: center;
    color: #fff;
}

.socialmediaicon:hover {
    background: #fff;
    color: yellow;
}

.socialmediaicon i{
    font-size:30px;
    line-height: 60px;
}

.line{
    width:90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

@media screen and (max-width:800px){
    .menu-nav{
        width:30vw;
    }
    .titulo {
        font-size:40px;
    }
    .contenedor-servicios img {
        width: 80%;
        margin-bottom: 40px;
    }
    .checklist-servicios {
        width: 80%;    
    }
    .services{
        margin-bottom: 30px;
    }
    .add-img{
        width: 80%;
    }
    .img-gallery{
        width: 45%;
    }
    .socialmedia{
        margin-top: 40px;
        width: 80%;
        justify-content: center;
    }
    .socialmedia i{
        margin-left: 0;
    }
    .footer-content{
        justify-content:center;
    }
}